{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>New Article</title>
    {{form.media}}

    {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}"> {% endblock %}

</head>

<body>

    <form action="{%url 'new-article'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form form%}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
    </form>

    {% block scripts %}
    <small>Can't find your neighborhood? You can add a Neighborhood in your <a href="/accounts/profile/"> Profile page</a>.
    </small> <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}

</body>

</html>